<div class="container">
  <div
    class="alert alert-danger mt-2 mb-2 d-flex align-items-center"
    *ngIf="errorMessage"
  >
    <span class="material-icons mr-2">error</span>
    {{ errorMessage }}
    <span class="material-icons ml-auto" (click)="hideErrorMessage()">
      close
    </span>
  </div>

  <div class="card">
    <div class="card-header text-white bg-info">Créer un hotel</div>

    <div class="card-body">
      <form novalidate (ngSubmit)="saveHotel()" [formGroup]="hotelForm">
        <div class="form-group row mb-2">
          <label for="hotelNameId" class="col-md-2 col-form-label">
            Nom Hotel
          </label>
          <div class="col-md-8">
            <input
              id="hotelNameId"
              type="text"
              class="form-control"
              formControlName="hotelName"
              placeholder="Nom(obligatoire)"
              [ngClass]="{ 'is-invalid': formErrors.hotelName }"
            />
            <span class="invalid-feedback">
              {{ formErrors.hotelName }}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="hotelPriceId" class="col-md-2 col-form-label">
            Prix</label
          >
          <div class="col-md-8">
            <input
              id="hotelPriceId"
              type="text"
              class="form-control"
              formControlName="price"
              placeholder="Prix(obligatoire)"
              [ngClass]="{ 'is-invalid': formErrors.price }"
            />
            <span class="invalid-feedback">
              {{ formErrors.price }}
            </span>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="starRatingId" class="col-md-2 col-form-label">
            Évaluation (1-5)
          </label>
          <div class="col-md-8">
            <input
              id="starRatingId"
              type="text"
              class="form-control"
              formControlName="rating"
              placeholder="Évaluation(1-5)"
              [ngClass]="{ 'is-invalid': formErrors.rating }"
            />
            <span class="invalid-feedback">
              {{ formErrors.rating }}
            </span>
          </div>
        </div>

        <div formArrayName="tags">
          <div
            class="form-group row mb-2"
            *ngFor="let tag of tags.controls; let i = index"
          >
            <label class="col-md-2 col-form-label" [attr.for]="i">
              {{ "Étiquette " + i }}
            </label>

            <div class="col-md-8">
              <input
                class="form-control"
                [id]="i"
                type="text"
                placeholder="{{ 'Étiquette ' + i }}"
                [formControlName]="i"
              />
            </div>
            <button
              class="col-md-1 btn btn-outline-danger btn-sm"
              type="button"
              title="Delete this search tag"
              (click)="deleteTag(i)"
            >
              Supprimer
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 mb-2">
            <button
              class="btn btn-outline-primary btn-sm"
              type="button"
              title="Ajouter une étiquette"
              (click)="addTag()"
            >
              Ajouter une étiquette
            </button>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="descriptionId" class="col-md-2 col-form-label"
            >Description
          </label>
          <div class="col-md-8">
            <textarea
              class="form-control"
              formControlName="description"
              id="descriptionId"
            ></textarea>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-8">
            <button class="btn btn-info mr-3" type="submit">Sauvegarder</button>
            <button
              class="btn btn-outline-secondary mr-3"
              type="button"
              title="Annuler les modifications"
              [routerLink]="['/hotels']"
            >
              Annuler
            </button>
            <button
              class="btn btn-outline-danger"
              type="button"
              title="Supprimer cet hotel"
              [disabled]="hotel?.id === 0"
              (click)="deleteHotel()"
            >
              Supprimer
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<pre>
  {{ hotelForm.value | json }}
</pre>
