<div class="container">
  <div class="card">
    <div class="card-header text-white bg-info">
      Créer un hotel
    </div>

    <div class="card-body">
      <form novalidate (ngSubmit)="saveHotel()" [formGroup]="hotelForm">

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="hotelNameId">
            Nom Hotel
          </label>
          <div class="col-md-8">
            <input class="form-control" id="hotelNameId" type="text"
              placeholder="Nom (champ obligatoire)" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="hotelPriceId">
            Prix
          </label>
          <div class="col-md-8">
            <input class="form-control" id="hotelPriceId" type="text"
              placeholder="Prix (champ obligatoire)" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="starRatingId">
            Évaluation (1-5)
          </label>

          <div class="col-md-8">
            <input class="form-control" id="starRatingId" type="text"
              placeholder="Évaluation (1-5)" />
          </div>
        </div>

        <div formArrayName="tags">
          <div class="form-group row mb-2"
            *ngFor="let tag of tags.controls; let i=index">
            <label class="col-md-2 col-form-label" [attr.for]="i">
              {{ 'Étiquette ' + i }}
            </label>

            <div class="col-md-8">
              <input class="form-control" [id]="i" type="text"
                placeholder="{{ 'Étiquette ' + i }}" [formControlName]="i" />
            </div>
            <button class="col-md-1 btn btn-outline-danger btn-sm" type="button"
              title="Delete this search tag" (click)="deleteTag(i)">
              Supprimer
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 mb-2">
            <button class="btn btn-outline-primary btn-sm" type="button"
              title="Ajouter une étiquette" (click)="addTag()">
              Ajouter une étiquette
            </button>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="descriptionId">
            Description
          </label>

          <div class="col-md-8">
            <textarea class="form-control" id="descriptionId"
              placeholder="Description" rows=3></textarea>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-info mr-3" type="submit">
              Sauvegarder
            </button>
            <button class="btn btn-outline-secondary mr-3" type="button"
              title="Annuler les modifications" [routerLink]="['/hotels']">
              Annuler
            </button>
            <button class="btn btn-outline-danger" type="button"
              title="Supprimer cet hotel" (click)="deleteHotel()">
              Supprimer
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>

</div>
