<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">Gestionnaire d'hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
        Acceuil
      </a>
      <a
        class="nav-link"
        [routerLink]="['/hotels']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Liste
      </a>
      <a
        class="nav-link"
        [routerLink]="['/hotels', '0', 'edit']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Ajout d'hotel
      </a>
    </div>
  </div>
</nav>

<div class="mt-5 container">
  <router-outlet></router-outlet>
</div>
