<div class="container">
  <h3>Liste d'hotels</h3>

  <button (click)="toggleIsNewBadge()" class="btn btn-primary mr-0 d-flex">
    <span class="material-icons">
      {{ showBadge ? "visibility_off" : "visibility" }}
    </span>
    <span class="ml-2"> {{ showBadge ? "cacher" : "afficher" }} nouveau </span>
  </button>
  <hr />
  <div class="my-3">
    <div class="row">
      <div class="col-md-4">
        <span class="text-uppercase filter"> Filtre actuel: </span>
        <b>{{ hotelFilter }} </b>
      </div>
      <div class="col-md-8 form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="hotelFilter"
          placeholder="rechercher"
        />
        <!-- <input type="text" class="form-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter = $event"/> -->
      </div>
    </div>
  </div>
  <div class="alert alert-primary" *ngIf="!!receivedRating">
    {{ receivedRating }}
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let hotel of filteredHotels">
      <div class="card">
        <img
          [src]="hotel.imageUrl"
          [title]="hotel.hotelName | uppercase"
          [alt]="hotel.hotelName"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ hotel.hotelName | titlecase }}</h5>

          <p class="card-text">
            {{ hotel.description }}
          </p>

          <p class="card-text">
            {{
              hotel.price | currency: "EUR":"symbol":"1.2-2":"fr" | removeComma
            }}
          </p>
          <div class="d-flex justify-content-between align-items-baseline">
            <app-star-rating
              [rating]="hotel.rating"
              (starRatingClicked)="receiveRatingClick($event)"
            ></app-star-rating>
            <span
              class="
                material-icons
                bg-primary
                text-white
                p-2
                rounded-circle
                btn
              "
              [routerLink]="['/hotels', hotel.id, 'edit']"
            >
              edit
            </span>
            <span
              class="material-icons bg-info text-white p-2 rounded-circle btn"
              [routerLink]="['/hotels', hotel.id]"
            >
              keyboard_arrow_right
            </span>
          </div>
          <ng-container *ngFor="let tag of hotel.tags; let i = index">
            <ng-container *ngIf="showBadge">
              <!-- [ngClass]="{'badge-success': 0 === i % 2 }" -->
              <span
                class="badge badge-pill"
                [ngClass]="0 === i % 2 ? 'badge-success': 'badge-info ml-2'"
              >
                {{ tag }}
              </span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
